---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import MainWrapper from "../layouts/MainWrapper.astro";
import Aside from "../components/Aside.astro";
import Content from "../layouts/Content.astro";
import Footer from "../components/Footer";
import NavButton from '../components/NavButton.astro';
---

<Layout title="Getting Started | Fluffle">
  <Header />

  <MainWrapper>
    <Aside />

    <main>
      <Content title="What is Fluffle?">
        <p>
          Fluffle is a styling library for React Native that brings advanced styling capabilities inspired by Sass and CSS, while fully respecting the native React Native paradigm.
        </p>

        <br />

        <p>
          Fluffle enhances the styling process and productivity by allowing you to write styles that are:
        </p>

        <ul>
          <li>More expressive</li>
          <li>More maintainable</li>
          <li>More scalable</li>
        </ul>

        <p>
          This library is compatible with both the <a
            href="https://docs.expo.dev/more/expo-cli/" target="_blank" rel="noopener noreferrer"
            >Expo CLI</a
          > and <a
            href="https://reactnative.dev/docs/getting-started-without-a-framework"
            target="_blank" rel="noopener noreferrer"
            >React Native CLI</a
          >, providing flexibility for developers across a variety of project
          setups. For new projects, we recommend using the Expo CLI, as it
          simplifies the development process by abstracting much of the
          configuration typically required when using the React Native CLI. This
          approach aligns with the guidance provided in the official React
          Native documentation, which suggests starting with a framework like
          Expo for ease of use and faster setup. For more details, you can
          explore the <a href="https://reactnative.dev/docs/environment-setup"
            target="_blank" rel="noopener noreferrer">React Native environment setup guide</a
          >.
        </p>

        <NavButton
          next={{ title: 'Getting started | Installation', href: '/introduction/installation' }}
        />
      </Content>
    </main>
  </MainWrapper>

  <Footer />
</Layout>
