---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header";
import MainWrapper from "../../layouts/MainWrapper.astro";
import Aside from "../../components/Aside.astro";
import Content from "../../layouts/Content.astro";
import NavButton from '../../components/NavButton.astro';
import Footer from "../../components/Footer";
---

<Layout title="Contributing: Issues and Bugs | Fluffle">
  <Header />

  <MainWrapper>
    <Aside />

    <main>
      <Content title="Support the project">
        <p>
          Fluffle is an open-source project and is maintained in free time.
          If you find it useful, you can support its development below.
        </p>

        <h3>Ways to support</h3>

        <ul>
          <li>
            ⭐ Star the repository on <a href="https://github.com/bibliolabsofficial/react-native-fluffle"  target="_blank" rel="noopener noreferrer">GitHub</a>
          </li>

          <li>
            💖 Sponsor on <a href='https://github.com/sponsors/filipe-2' target="_blank" rel="noopener noreferrer">GitHub Sponsors</a>
          </li>
        </ul>

        <p>
          Every contribution helps keep the project maintained and improving.
        </p>

        <NavButton
          prev={{ title: 'Contributing | Pull requests', href: '/contributing/pull-requests' }}
        />
      </Content>
    </main>
  </MainWrapper>

  <Footer />
</Layout>
